.community-section {
    margin-bottom: 2.625rem;
}

.community-section h2 {
    margin-bottom: .5rem;
}

.community-card p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.community-section img {
    width: 15rem;
    height: auto;
    margin-bottom: 1rem;
}

.community-card {
    gap: 2rem;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(171, 190, 209, 0.2);
}

.community-card-content {
    display: flex;
    text-align: left;
    flex-direction: column;
}


.community-card h3 {
    margin-bottom: .5rem;
}

.community-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    gap: 1rem;
}

.community-wrapper .community-card:nth-child(2) {
    position: relative;
    top: 0px;
}

@media (min-width:1024px) {
    .community-wrapper {
        flex-direction: row;
        padding: 0;
        justify-content: space-between;
    }

    .community-card {
        flex-direction: column;
        width: 299px;
        height: 260px;
        justify-content: center;
        gap: 0;
    }

    .community-card img {
        width: 4.063rem;
    }

    .community-card-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .community-wrapper .community-card:nth-child(2) {
        top: 10px;
    }
}