.commu-Header {
    text-align: center;
    margin-bottom: 1rem;
}

.commu-section {
    margin-bottom: 10rem;
}

.commu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-content {
    position: relative;
    width: 368px;
    height: 286px;
}

.card-content h4 {
    text-align: center;
    font-size: 1.25rem;
    color: #717171;
    font-weight: 500;
    margin-bottom: 1rem;
    width: 285px;
}

.card-content img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #4CAF4F;
    gap: 8px;
}

.text-box {
    justify-items: center;
    padding: 1rem 0;
    position: absolute;
    background-color: #F5F7FA;
    border-radius: 8px;
    width: 317px;
    box-shadow: 0 8px 16px rgba(171, 190, 209, 0.4);
    z-index: 1;
    bottom: 13px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.commu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

@media (min-width:1200px) {
    .commu-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }
}