.achievements-section {
    background-color: #F5F7FA;
}

.achievements-section span {
    color: #4CAF4F;
}

.achievements-section p {
    color: #18191F;
}

.achievements-section img {
    height: 48px;
}

.achievements-item p {
    color: #717171;
}

.stats-section {
    display: flex;
    justify-content: center;
}

.container.mx-auto {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.achievements-grid-container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 2rem 0;
}

.text-content {
    align-self: center;
    text-align: center;
}

.stats-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    justify-items: left;
    gap: 2rem;
}

.achievements-item {
    height: 3.75rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px) {
    .achievements-grid-container {
        grid-template-columns: 1fr;
        margin: 2rem 0;
    }

    .stats-grid {
        grid-template-columns: 1fr;
        text-align: left;
    }

    .achievements-item {
        justify-content: flex-start;
    }
}

@media (min-width: 1024px) {
    .achievements-grid-container {
        height: 288px;
        margin: 3rem 0;
        align-items: center;
        grid-template-columns: 1fr 1fr;
    }

    .stats-grid {
        grid-template-columns: 1fr 1fr;
        text-align: left;
    }

    .achievements-item {
        justify-content: flex-start;
    }

    .text-content {
        text-align: left;
    }
}