nav {
    background-color: #F5F7FA;
}

nav .nav-container {
    display: block;
    max-width: 1215px;
    margin: 0 1rem;
    position: relative;
}

nav .nav-wrapper {
    transition: flex-direction 0.3s ease, gap 0.3s ease, padding-bottom 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    padding-bottom: 1.5rem;
    margin: 0;
}

nav .logo {
    height: 84px;
    display: flex;
    align-items: center;
}

nav .logo img {
    margin: 1rem 0;
    height: 2rem;
}

nav .nav-links {
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out, margin-left 0.3s ease;

    max-height: 0;
    overflow: hidden;
    opacity: 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 3.5rem;
}

nav .nav-links.show {
    max-height: 500px;
    opacity: 1;
}

nav .nav-links a {
    color: #18191F;
    font-size: 1rem;
    transition: color .2s ease;
}

nav .nav-links a:hover {
    color: #4CAF4F;
}

nav .nav-auth {
    transition: max-height 0.2s ease-out, opacity 0.2s ease-out, margin-left 0.3s ease;

    max-height: 0;
    overflow: hidden;
    opacity: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 2.3rem;
}

nav .nav-auth.show {
    max-height: 84px;
    opacity: 1;
}

nav .login-btn,
nav .signup-btn {
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.25rem;
}

nav .login-btn {
    color: #4CAF4F;
}

nav .signup-btn {
    color: #fff;
    background-color: #4CAF4F;
    border-radius: 6px;
}

nav .nav-toggle {
    position: absolute;
    right: 1.25rem;
    top: 2.5rem;
    transform: translateY(-50%);
    font-size: 1.25rem;
    cursor: pointer;
}

nav .nav-toggle:hover {
    transition: ease-in 0.1s;
    opacity: 50%;
}


@media (min-width: 1024px) {

    nav .nav-container {
        max-width: 1215px;
        margin: 0 auto;
        position: relative;
    }

    nav .nav-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 84px;
        gap: 0;
        margin: 0 auto;
        padding: 0 24px;
    }

    nav .nav-links {
        max-height: none;
        overflow: visible;
        opacity: 1;

        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-left: 0;
    }

    nav .nav-auth {
        max-height: none;
        overflow: visible;
        opacity: 1;

        display: flex;
        margin-left: 0;
    }

    nav .nav-toggle {
        display: none;
    }
}