.demo-page {
    background-color: #F5F7FA;
    text-align: center;
    padding: 2rem 0;
}

.demo-page h1 {
    line-height: 1.2;
    font-size: 3rem;
    font-weight: 600;
    color: #263238;
    margin-bottom: 2rem;
}

.demo-page a {
    background-color: #4CAF4F;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 0.875rem 2rem;
    border-radius: 4px;
    gap: 8px;
}

.footer-page {
    background-color: #263238;
    padding: 4rem 0;
}

.footer-page p,
a {
    color: #F5F7FA;
}

.footer-page a:hover {
    transition: ease-in-out 0.1s;
    opacity: 30%;
}

.footer-page h3 {
    font-size: 1.25rem;
    color: white;
}

.main-content .logo {
    height: 1.875rem;
}

.main-content ul li img {
    height: 24px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.main-content .logo-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.5rem;
    width: 350px;

    p {
        font-weight: 300;
    }

    ul li {
        display: flex;
        gap: 1rem;
    }
}

.main-content .links {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;

    ul h3 {
        margin-bottom: 24px;
    }

    ul li {
        margin-bottom: 12px;
    }
}

.emailform h3 {
    margin-bottom: 24px;
}

.mailbox {
    position: relative;


    input {
        width: 255px;
        height: 40px;
        border-radius: 8px;
        padding-left: 1rem;
        background-color: rgba(255, 255, 255, 0.2);
        color: #D9DBE1;
        outline: none;
        padding-right: 2.3rem;
    }

    button {
        color: white;
        position: absolute;
        top: 12px;
        left: 225px;
        cursor: pointer;
    }

    button:hover {
        transition: ease-in-out 0.1s;
        opacity: 30%;
    }
}

@media (min-width:1024px) {
    .main-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .links {
        flex-direction: row !important;
    }

    .links ul {
        width: 160px;
    }

    .demo-page h1 {
        font-size: 4rem;
    }

}