.calender-section {
    height: auto;
    margin: 1rem auto;
}

.calender-section img {
    height: 433px;
    width: 442px;
}

.calender-content {
    text-align: center;
}

.calender-content h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.calender-content p {
    font-size: 0.875rem;
    margin-bottom: 2rem;
}

.calender-btn {
    display: inline-block;
    background-color: #4CAF4F;
    padding: 0.875rem 2rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.calender-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width:1024px) {
    .calender-wrapper {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    .calender-section {
        height: 433px;
        margin: 0 auto;
    }

    .calender-content {
        text-align: left;
    }

    .calender-content h2 {
        margin-bottom: 1rem;
        margin-top: 0rem;
    }
}